In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [10]:
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')

In [11]:
train_df.head()

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,>50K
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,<=50K
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,<=50K
4,4,24,Private,122234,Some-college,10,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,20,?,<=50K

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26049 entries, 0 to 26048
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26049 non-null  int64
 1   age             26049 non-null  int64
 2   workclass       26049 non-null  object
 3   fnlwgt          26049 non-null  int64
 4   education       26049 non-null  object
 5   education_num   26049 non-null  int64
 6   marital_status  26049 non-null  object
 7   occupation      26049 non-null  object
 8   relationship    26049 non-null  object
 9   race            26049 non-null  object
 10  sex             26049 non-null  object
 11  capital_gain    26049 non-null  int64
 12  capital_loss    26049 non-null  int64
 13  hours_per_week  26049 non-null  int64
 14  native_country  26049 non-null  object
 15  income          26049 non-null  object
dtypes: int64(7), object(9)
memory usage: 3.2+ MB

In [ ]:
train_df.describe()

In [ ]:
import missingno as msno

In [ ]:
msno.matrix(train_df)

In [ ]:
train_df.columns

'id', 'age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'

In [ ]:
train_df['workclass'].value_counts()

In [ ]:
fig, ax = plt.subplots(1,1, figsize= (12, 5))
sns.countplot(data=train_df, x='race', ax = ax, hue='education')
plt.show()

In [ ]:
fig, ax = plt.subplots(1,1, figsize= (12, 5))

ax.hist(train_df['age'], width = 3, edgecolor = 'black')
ax.set_title('age distribution', fontweight = 'bold')

plt.show()

In [ ]:
sns.kdeplot(data=train_df, x='age')

In [ ]:
train_df['income'] = (train_df['income'] == '>50K').astype(int)

In [ ]:
train_df.groupby(['race', 'sex'])[['income']].mean().style.background_gradient(cmap = 'Purples')

In [ ]:
pd.pivot_table(train_df, columns='sex', index='race', values='income', aggfunc='mean')

In [ ]:
fig, ax = plt.subplots(1, 1, figsize= (12,5))
#sns.boxplot(data=train_df, x='race', y='age', ax = ax, hue = 'sex')

sns.violinplot(data=train_df, x='race', y='age', ax = ax, hue = 'sex')

In [ ]:
train_df.corr().style.background_gradient(cmap='coolwarm')

In [ ]:
corr = train_df.corr()

In [ ]:
sns.heatmap(corr, square=True, linecolor='white', linewidth=0.1, cmap='coolwarm', vmax=1.0, vmin=-1.0)