In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
total = pd.concat([train, test])

In [4]:
train.income = (train['income']==('>50K')).astype('int')

In [5]:
total = pd.concat([train, test])

In [6]:
total

,id,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,40,Private,168538,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,1.0
1,1,17,Private,101626,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,0.0
2,2,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,0.0
3,3,21,Private,151158,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,0.0
4,4,24,Private,122234,Some-college,10,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,20,?,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6507,6507,35,Private,61343,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,NaN
6508,6508,41,Self-emp-inc,32185,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,NaN
6509,6509,39,Private,409189,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,NaN
6510,6510,35,Private,180342,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,NaN
6511,6511,28,Private,156819,HS-grad,9,Divorced,Handlers-cleaners,Unmarried,White,Female,0,0,36,United-States,NaN

In [7]:
total = total.drop(labels=['id', 'fnlwgt', 'education'], axis=1)

# Age

In [8]:
age_labels = [i for i in range(19)]
age_bands = [i for i in range(15, 72, 3)] + [90]
total['age_band']= pd.cut(total['age'], bins=age_bands, labels=age_labels)

In [9]:
total = total.drop('age', axis=1)

# Workclass

In [10]:
total.loc[total['workclass'].isin(['Never-worked', 'Without-pay']), 'workclass'] = 'others'

In [11]:
total

,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,age_band
0,Private,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,1.0,8
1,Private,5,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,20,United-States,0.0,0
2,Private,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,0.0,0
3,Private,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,25,United-States,0.0,1
4,Private,10,Never-married,Adm-clerical,Not-in-family,Black,Female,0,0,20,?,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6507,Private,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,NaN,6
6508,Self-emp-inc,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,NaN,8
6509,Private,3,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,NaN,7
6510,Private,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,NaN,6
6511,Private,9,Divorced,Handlers-cleaners,Unmarried,White,Female,0,0,36,United-States,NaN,4

In [12]:
total['workclass'].unique()

array(['Private', 'State-gov', '?', 'Self-emp-not-inc', 'Local-gov',
       'Federal-gov', 'Self-emp-inc', 'others'], dtype=object)

# Education Num

In [13]:
edu_bands = [0, 1, 5, 8, 10, 12, 13, 14, 16]
edu_labels = [i for i in range(len(edu_bands)-1)]
total['edu_band']= pd.cut(total['education_num'], bins=edu_bands, labels=edu_labels)

In [14]:
total=total.drop('education_num', axis=1)

# Captial Gain & Loss

In [15]:
total["log_capital_gain"] = total.capital_gain.map(lambda x: np.log(x, where=(x!=0)))

In [16]:
total["log_capital_loss"] = total.capital_loss.map(lambda x: np.log(x, where=(x!=0)))

In [17]:
total = total.drop(['capital_gain', 'capital_loss'], axis=1)

# Hours Per Week

In [18]:
workhours_bands = [i for i in range(0, 65, 5)] + [80, 100]
workhours_labels = [i for i in range(len(workhours_bands) -1)]
total['workhours_band']= pd.cut(total['hours_per_week'], bins=workhours_bands, labels=workhours_labels)

In [19]:
total = total.drop(['hours_per_week'], axis=1)

# 7. Marital Status & Relationship

In [20]:
total.loc[total['relationship'].isin(['Husband', 'Wife']), 'relationship'] = 'Normal'
total.loc[total['relationship'].isin(['Own-child', 'Not-in-family', 'Unmarried', 'Other-relative']), 'relationship'] = 'Abnormal'

In [21]:
total.loc[total['marital_status'].isin(['Married-AF-spouse', 'Married-civ-spouse']), 'marital_status'] = 'Married_OK'
total.loc[total['marital_status'].isin(['Married-spouse-absent', 'Divorced', 'Never-married', 'Separated', 'Widowed']), 'marital_status']= 'Married_Fail'

# 8. Occupations

In [22]:
total.loc[total['occupation'].isin(['Armed-Forces', 'Priv-house-serv']), 'occupation'] = 'Priv-house-serv'

# 9. Race

In [23]:
total.loc[total['race'].isin(['Amer-Indian-Eskimo', 'Other']), 'race'] = 'Other'

# 10. Native Country

In [24]:
income_01 = ['Outlying-US(Guam-USVI-etc)',
 'Honduras',
 'Columbia',
 'Dominican-Republic',
 'Mexico',
 'Guatemala',
 'Portugal',
 'Trinadad&Tobago',
 'Nicaragua',
 'Peru',
 'Vietnam',
 'El-Salvador',]

income_02 = ['Jamaica',
 'Haiti',
 'Puerto-Rico',
 'Laos',
 'Thailand',
 'Ecuador',
 'Poland',
 'South',
 'Ireland',
 'China',]

income_03 = ['?']

income_04 = [
    'United-States',
]
income_05 = [
 'Greece',
 'Scotland',
 'Cuba',
 'Hungary',
 'Hong',
]
income_06 = [
 'Philippines',
 'Canada',
 'England',
 'Germany',
 'Italy'
]
income_07 = [
 'India',
 'Japan',
 'France',
 'Yugoslavia',
 'Cambodia',
 'Taiwan',
 'Iran'
]

In [25]:
# income_01 = ['Jamaica',
#  'Haiti',
#  'Puerto-Rico',
#  'Laos',
#  'Thailand',
#  'Ecuador',]

# income_02 = ['Outlying-US(Guam-USVI-etc)',
#  'Honduras',
#  'Columbia',
#  'Dominican-Republic',
#  'Mexico',
#  'Guatemala',
#  'Portugal',
#  'Trinadad&Tobago',
#  'Nicaragua',
#  'Peru',
#  'Vietnam',
#  'El-Salvador',]

# income_03 = ['Poland',
#  'Ireland',
#  'South',
#  'China',]

# income_04 = [
#     'United-States',
# ]
# income_05 = [
#  'Greece',
#  'Scotland',
#  'Cuba',
#  'Hungary',
#  'Hong',
#  'Holand-Netherlands',
# ]
# income_06 = [
#  'Philippines',
#  'Canada',
# ]
# income_07 = [
#  'England',
#  'Germany',
# ]

# income_08 = [
#  'Italy',
#  'India',
#  'Japan',
#  'France',
#  'Yugoslavia',
#  'Cambodia',
# ]

# income_09 = [
#  'Taiwan',
#  'Iran',
# ]

# income_other=['?', ]

In [26]:
def convert_country(x):
    if x in income_01:
        return 'income_01'
    elif x in income_02:
        return 'income_02'
    elif x in income_03:
        return 'income_03'
    elif x in income_04:
        return 'income_04'
    elif x in income_05:
        return 'income_05'
    elif x in income_06:
        return 'income_06'
    elif x in income_07:
        return 'income_07'

In [27]:
total['country_bin'] = total['native_country'].apply(convert_country)

In [28]:
total = total.drop(['native_country'], axis = 1)

# Features to Model

In [29]:
total.columns

Index(['workclass', 'marital_status', 'occupation', 'relationship', 'race',
       'sex', 'income', 'age_band', 'edu_band', 'log_capital_gain',
       'log_capital_loss', 'workhours_band', 'country_bin'],
      dtype='object')

In [30]:
features = ['workclass', 'marital_status', 'occupation', 'relationship', 'race',
       'sex', 'age_band', 'edu_band', 'log_capital_gain',
       'log_capital_loss', 'workhours_band', 'country_bin']
label = ['income']

In [31]:
from pycaret.classification import *

In [32]:
total_carret = total[features + label]

In [33]:
total_carret.head()

,workclass,marital_status,occupation,relationship,race,sex,age_band,edu_band,log_capital_gain,log_capital_loss,workhours_band,country_bin,income
0,Private,Married_OK,Sales,Normal,White,Male,8,3,NaN,2.121996e-314,11,income_04,1.0
1,Private,Married_Fail,Machine-op-inspct,Abnormal,White,Male,0,1,0.0,0.000000e+00,3,income_04,0.0
2,Private,Married_Fail,Other-service,Abnormal,White,Male,0,3,0.0,0.000000e+00,3,income_04,0.0
3,Private,Married_Fail,Prof-specialty,Abnormal,White,Female,1,3,0.0,0.000000e+00,4,income_04,0.0
4,Private,Married_Fail,Adm-clerical,Abnormal,Black,Female,2,3,0.0,0.000000e+00,3,income_03,0.0

In [34]:
total_carret['age_band'] = total_carret['age_band'].astype('float')
total_carret['edu_band'] = total_carret['edu_band'].astype('float')
total_carret['workhours_band'] = total_carret['workhours_band'].astype('float')
total_carret['log_capital_gain'] = total_carret['log_capital_gain'].astype('float')
total_carret['log_capital_loss'] = total_carret['log_capital_loss'].astype('float')

In [35]:
train_clean = total_carret[:len(train)]
test_clean = total_carret[len(train):]

In [36]:
train_clean['income'] = train_clean['income'].astype('int')

In [37]:
train_clean.head()

,workclass,marital_status,occupation,relationship,race,sex,age_band,edu_band,log_capital_gain,log_capital_loss,workhours_band,country_bin,income
0,Private,Married_OK,Sales,Normal,White,Male,8.0,3.0,NaN,2.121996e-314,11.0,income_04,1
1,Private,Married_Fail,Machine-op-inspct,Abnormal,White,Male,0.0,1.0,0.0,0.000000e+00,3.0,income_04,0
2,Private,Married_Fail,Other-service,Abnormal,White,Male,0.0,3.0,0.0,0.000000e+00,3.0,income_04,0
3,Private,Married_Fail,Prof-specialty,Abnormal,White,Female,1.0,3.0,0.0,0.000000e+00,4.0,income_04,0
4,Private,Married_Fail,Adm-clerical,Abnormal,Black,Female,2.0,3.0,0.0,0.000000e+00,3.0,income_03,0

In [38]:
setup(data = train_clean, target = 'income', session_id=1234, silent=True)

(       age_band  edu_band  log_capital_gain  log_capital_loss  workhours_band  \
 0           8.0       3.0         981.50824               0.0            11.0
 1           0.0       1.0           0.00000               0.0             3.0
 2           0.0       3.0           0.00000               0.0             3.0
 3           1.0       3.0           0.00000               0.0             4.0
 4           2.0       3.0           0.00000               0.0             3.0
 ...         ...       ...               ...               ...             ...
 26044      13.0       2.0           0.00000            1887.0            10.0
 26045       2.0       5.0           0.00000               0.0             7.0
 26046      18.0       6.0           0.00000               0.0             2.0
 26047       3.0       3.0           0.00000               0.0             7.0
 26048       1.0       3.0           0.00000               0.0             5.0

        workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
 0                        0.0                  0.0                1.0
 1                        0.0                  0.0                1.0
 2                        0.0                  0.0                1.0
 3                        0.0                  0.0                1.0
 4                        0.0                  0.0                1.0
 ...                      ...                  ...                ...
 26044                    0.0                  0.0                1.0
 26045                    0.0                  0.0                1.0
 26046                    0.0                  0.0                0.0
 26047                    0.0                  0.0                0.0
 26048                    0.0                  0.0                0.0

        workclass_Self-emp-inc  workclass_Self-emp-not-inc  ...  race_Other  \
 0                         0.0                         0.0  ...         0.0
 1                         0.0                         0.0  ...         0.0
 2                         0.0                         0.0  ...         0.0
 3                         0.0                         0.0  ...         0.0
 4                         0.0                         0.0  ...         0.0
 ...                       ...                         ...  ...         ...
 26044                     0.0                         0.0  ...         0.0
 26045                     0.0                         0.0  ...         0.0
 26046                     0.0                         0.0  ...         0.0
 26047                     0.0                         1.0  ...         0.0
 26048                     0.0                         0.0  ...         0.0

        race_White  sex_Male  country_bin_income_01  country_bin_income_02  \
 0             1.0       1.0                    0.0                    0.0
 1             1.0       1.0                    0.0                    0.0
 2             1.0       1.0                    0.0                    0.0
 3             1.0       0.0                    0.0                    0.0
 4             0.0       0.0                    0.0                    0.0
 ...           ...       ...                    ...                    ...
 26044         1.0       1.0                    0.0                    0.0
 26045         1.0       1.0                    0.0                    0.0
 26046         1.0       0.0                    0.0                    0.0
 26047         0.0       0.0                    0.0                    0.0
 26048         1.0       0.0                    0.0                    0.0

        country_bin_income_03  country_bin_income_04  country_bin_income_05  \
 0                        0.0                    1.0                    0.0
 1                        0.0                    1.0                    0.0
 2                        0.0                    1.0                    0.0
 3                        0.0                    1.0                    0.0
 4                        1.0                    0.0                    0.0
 ...                      ...                    ...                    ...
 26044                    0.0                    1.0                    0.0
 26045                    0.0                    1.0                    0.0
 26046                    0.0                    1.0                    0.0
 26047                    0.0                    1.0                    0.0
 26048                    0.0                    1.0                    0.0

        country_bin_income_06  country_bin_income_07
 0                        0.0                    0.0
 1                        0.0                    0.0
 2                        0.0                    0.0
 3                        0.0                    0.0
 4                        0.0                    0.0
 ...                      ...                    ...
 26044                    0.0                    0.0
 26045                    0.0                    0.0
 26046                    0.0                    0.0
 26047                    0.0                    0.0
 26048                    0.0                    0.0

 [26049 rows x 40 columns],
 1234,
 [],
        age_band  edu_band  log_capital_gain  log_capital_loss  workhours_band  \
 23632      11.0       3.0               0.0               0.0             7.0
 21529      17.0       3.0               0.0               0.0             7.0
 11894       9.0       5.0               0.0               0.0             7.0
 7628        3.0       5.0               0.0               0.0             7.0
 17909       6.0       5.0               0.0               0.0            12.0
 ...         ...       ...               ...               ...             ...
 17048       3.0       3.0            7688.0               0.0             7.0
 23924      14.0       3.0               0.0               0.0             7.0
 23605      13.0       5.0               0.0               0.0             6.0
 1318        2.0       5.0               0.0               0.0             7.0
 25299       8.0       3.0               0.0               0.0             8.0

        workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
 23632                    0.0                  0.0                1.0
 21529                    0.0                  0.0                1.0
 11894                    0.0                  0.0                1.0
 7628                     0.0                  0.0                1.0
 17909                    0.0                  0.0                1.0
 ...                      ...                  ...                ...
 17048                    0.0                  0.0                1.0
 23924                    1.0                  0.0                0.0
 23605                    0.0                  0.0                1.0
 1318                     0.0                  0.0                1.0
 25299                    0.0                  0.0                1.0

        workclass_Self-emp-inc  workclass_Self-emp-not-inc  ...  race_Other  \
 23632                     0.0                         0.0  ...         0.0
 21529                     0.0                         0.0  ...         0.0
 11894                     0.0                         0.0  ...         0.0
 7628                      0.0                         0.0  ...         0.0
 17909                     0.0                         0.0  ...         0.0
 ...                       ...                         ...  ...         ...
 17048                     0.0                         0.0  ...         0.0
 23924                     0.0                         0.0  ...         0.0
 23605                     0.0                         0.0  ...         0.0
 1318                      0.0                         0.0  ...         0.0
 25299                     0.0                         0.0  ...         0.0

        race_White  sex_Male  country_bin_income_01  country_bin_income_02  \
 23632         1.0       1.0                    0.0                    0.0
 21529         1.0       0.0                    0.0                    0.0
 11894         1.0       1.0                    0.0                    0.0
 7628          1.0       1.0                    0.0                    0.0
 17909         1.0       1.0                    0.0                    0.0
 ...           ...       ...                    ...                    ...
 17048         1.0       1.0                    0.0                    0.0
 23924         0.0       0.0                    0.0                    0.0
 23605         1.0       0.0                    0.0                    0.0
 1318          1.0       0.0                    0.0                    0.0
 25299         1.0       0.0                    0.0                    0.0

        country_bin_income_03  country_bin_income_04  country_bin_income_05  \
 23632                    0.0                    1.0                    0.0
 21529                    0.0                    1.0                    0.0
 11894                    0.0                    1.0                    0.0
 7628                     0.0                    1.0                    0.0
 17909                    0.0                    0.0                    0.0
 ...                      ...                    ...                    ...
 17048                    0.0                    1.0                    0.0
 23924                    0.0                    1.0                    0.0
 23605                    0.0                    1.0                    0.0
 1318                     0.0                    1.0                    0.0
 25299                    0.0                    1.0                    0.0

        country_bin_income_06  country_bin_income_07
 23632                    0.0                    0.0
 21529                    0.0                    0.0
 11894                    0.0                    0.0
 7628                     0.0                    0.0
 17909                    0.0                    1.0
 ...                      ...                    ...
 17048                    0.0                    0.0
 23924                    0.0                    0.0
 23605                    0.0                    0.0
 1318                     0.0                    0.0
 25299                    0.0                    0.0

 [18234 rows x 40 columns],
 {'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x26da3d9add8>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x26da3d9ae10>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x26da3d9ae80>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x26da3d9aef0>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x26da3d9af60>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x26da3d9afd0>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x26da3da0080>},
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x26da2d1a320>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x26da2d1a400>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x26da2d1a4e0>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x26da2d1a550>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x26da2d1a6d8>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x26da2d1a8d0>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x26da2d1a978>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x26da2d1a9e8>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x26da2d1abe0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x26da2d1ad30>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x26da2d1af60>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x26da3d9a080>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x26da3d9a198>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x26da3d9a3c8>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x26da3d9a470>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x26da3d9a6a0>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x26da2d1a278>,
  'catboost': <pycaret.containers.models.classification.CatBoostClassifierContainer at 0x26da2d1a160>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x26da3d9ac18>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x26da3d9ad30>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x26da3d9ad68>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x26da3d9ada0>},
 'income',
 -1,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='income',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_stra...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='income')),
                 ('fix_perfect', Remove_100(target='income')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 0        1
 1        0
 2        0
 3        0
 4        0
         ..
 26044    0
 26045    0
 26046    0
 26047    0
 26048    0
 Name: income, Length: 26049, dtype: int32,
 23632    1
 21529    0
 11894    1
 7628     0
 17909    0
         ..
 17048    0
 23924    0
 23605    0
 1318     0
 25299    1
 Name: income, Length: 18234, dtype: int32,
               workclass marital_status         occupation relationship   race  \
 0               Private     Married_OK              Sales       Normal  White
 1               Private   Married_Fail  Machine-op-inspct     Abnormal  White
 2               Private   Married_Fail      Other-service     Abnormal  White
 3               Private   Married_Fail     Prof-specialty     Abnormal  White
 4               Private   Married_Fail       Adm-clerical     Abnormal  Black
 ...                 ...            ...                ...          ...    ...
 26044           Private     Married_OK      Other-service       Normal  White
 26045           Private   Married_Fail     Prof-specialty     Abnormal  White
 26046                 ?   Married_Fail                  ?     Abnormal  White
 26047  Self-emp-not-inc   Married_Fail     Prof-specialty     Abnormal  Black
 26048                 ?   Married_Fail                  ?     Abnormal  White

           sex  age_band  edu_band  log_capital_gain  log_capital_loss  \
 0        Male       8.0       3.0               NaN     2.121996e-314
 1        Male       0.0       1.0               0.0      0.000000e+00
 2        Male       0.0       3.0               0.0      0.000000e+00
 3      Female       1.0       3.0               0.0      0.000000e+00
 4      Female       2.0       3.0               0.0      0.000000e+00
 ...       ...       ...       ...               ...               ...
 26044    Male      13.0       2.0               0.0      1.887000e+03
 26045    Male       2.0       5.0               0.0      0.000000e+00
 26046  Female      18.0       6.0               0.0      0.000000e+00
 26047  Female       3.0       3.0               0.0      0.000000e+00
 26048  Female       1.0       3.0               0.0      0.000000e+00

        workhours_band country_bin  income
 0                11.0   income_04       1
 1                 3.0   income_04       0
 2                 3.0   income_04       0
 3                 4.0   income_04       0
 4                 3.0   income_03       0
 ...               ...         ...     ...
 26044            10.0   income_04       0
 26045             7.0   income_04       0
 26046             2.0   income_04       0
 26047             7.0   income_04       0
 26048             5.0   income_04       0

 [26049 rows x 13 columns],
 None,
 'box-cox',
 [],
 '38c1',
 False,
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 False,
 [],
 False,
 'lightgbm',
 'lightgbm',
 False,
 True,
 <MLUsecase.CLASSIFICATION: 1>,
 -1,
 False,
 False,
 None,
 5,
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x26da1a1ba90>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x26da1728f98>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x26d9b725080>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x26da178ba20>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x26d9ba120f0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x26d9b807b38>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x26d9b87ac50>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x26da17a6eb8>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x26da2ccfbe0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x26da2ccfcc0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x26da2ccfef0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x26da2ccff98>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x26d9bb8ee10>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x26d9bbafc88>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x26da2cf8860>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x26d9bb740f0>,

In [39]:
compared_model = compare_models(sort = 'F1', n_select = 3)

In [40]:
blended_model = blend_models(estimator_list = compared_model, fold = 5, method = 'soft')

IntProgress(value=0, description='Processing: ', max=6)

Initiated  . . . . . . . . . . . . . . . . . .           19:23:38
Status     . . . . . . . . . . . . . . . . . .   Finalizing Model
Estimator  . . . . . . . . . . . . . . . . . .  Voting Classifier

Empty DataFrame
Columns: [Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

KeyboardInterrupt:

In [ ]:
final_model = finalize_model(blended_model)
ensemble_prediction = predict_model(final_model,test_clean)

In [ ]:
plot_model(estimator = final_model, plot = 'auc')
plot_model(estimator = final_model, plot = 'confusion_matrix')

In [ ]:
ensemble_prediction['id'] = np.arange(len(ensemble_prediction))
ensemble_prediction['prediction'] = ensemble_prediction['Label']

In [ ]:
ensemble_prediction = ensemble_prediction[['id','prediction']]

In [ ]:
ensemble_prediction.to_csv('submission.csv',index=False)